body, html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        
        
        .background-frame {
            width: 100%;
            
            padding-top: 56.25%; 
            background-image: url('img/Rectangle\ 1944.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    

        .container2 {
            width: 100%;
            background-image: url('img/Rectangle\ 1944.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            overflow: hidden;

           
        }
        
    
        .col {
            background-color: #FF5811;
            border-radius: 20px; 
            display: inline-block; 
            padding: 5px 10px; 
        }
        
        .main-heading {
            margin: 20px 0;
            color: white;
            text-align: center;
        }
        
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 22px;
            height: 100%;
            border-radius: 5px;
            margin: 16px;
            width: 95%;
         
        }
        
        .card {
            background: #FFF;
            border-radius: 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: 300px;
            max-width: 100%;
            text-align: center;
            padding: 30px;
            padding-bottom: 10px;
            height: 420px;
            
         
        }
        
        .card img {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            border-bottom: 1px solid #ddd;
        }
        
        .card-heading {

            font-family: Gilroy-Bold;
          line-height: 35px;
            margin: 15px 0;
            color: #31286B;
         font-weight: 750;
         font-size: 30px;
         text-align: left;
         margin-top: 26px;
         
        }
        
        .card-text {
            color: #31286B;
            text-align: left;
            width: 300px;
            font-size: larger;
            margin-bottom: 0px;
            font-family: Gilroy-Medium;
            font-size: 23px;
            font-weight: 400;
            line-height: 30px;

        }
        
        @media (max-width: 768px) {
            .card-container {
                flex-direction: column;
                align-items: center;
            }
            .card {
                width: 80%;
            }
        }
        
        @media (max-width: 490px) {
            .card {
                width: 80%;
                text-wrap: wrap;
            }
        }
        


       



         